{
  "env": {
    "commonjs": {
      "presets": [
        ["env", {
          "targets": {
            "node": "8.9"
          }
        }]
      ]
    },
    "es": {
      "presets": [
        ["env", {
          "targets": {
            "browsers": [
              "Chrome >= 43",
              "Explorer 11"
            ]
          },
          "modules": false,
          "loose": true
        }]
      ]
    }
  }
}